@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@font-face {
  font-family: "interstate";
  src: url("../fonts/interstate-bold.otf") format("opentype");
  font-weight: 600;
}
body * {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  line-height: 160%;
  background: #F8F8FF;
}

.main {
  padding-top: 88px;
}

input {
  outline: none;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  background: transparent;
  padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 1500px) {
  .container {
    max-width: 1450px;
  }
}
.text-end {
  text-align: right;
}

.text-start {
  text-align: left;
}

.text-center {
  text-align: center;
}

h1 {
  font-size: 75px;
  font-family: "interstate";
  line-height: 115%;
  font-weight: 600;
  color: rgb(43, 60, 21);
  margin-bottom: 50px;
  text-transform: capitalize;
}

@keyframes pulse1 {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(139, 197, 63, 0.5);
  }
  70% {
    -webkit-box-shadow: 0 0 0 20px rgba(139, 197, 63, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(139, 197, 63, 0.5);
  }
}
@keyframes pulse2 {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
  }
  70% {
    -webkit-box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
  }
}
.greenbtn {
  border: 3px solid rgba(139, 197, 63, 0.5);
  display: inline-block;
  border-radius: 7px;
}
.greenbtn span {
  display: inline-flex;
  align-items: center;
  background: #8BC53F;
  border-radius: 5px;
  font-size: 22px;
  color: rgb(12, 17, 6);
  min-height: 58px;
  padding: 0 45px;
  font-family: "interstate";
  font-weight: 600;
}
.greenbtn img {
  margin-left: 10px;
  width: 24px;
}
.greenbtn:hover {
  animation: pulse1 2s infinite;
}

.whitebtn {
  border: 3px solid rgba(255, 255, 255, 0.5);
  display: inline-block;
  border-radius: 7px;
}
.whitebtn span {
  display: inline-flex;
  align-items: center;
  background: #fff;
  border-radius: 5px;
  font-size: 22px;
  color: rgb(12, 17, 6);
  min-height: 58px;
  padding: 0 45px;
  font-family: "interstate";
  font-weight: 600;
}
.whitebtn img {
  margin-left: 10px;
  width: 24px;
}
.whitebtn:hover {
  animation: pulse2 2s infinite;
}

.secttitle {
  color: rgb(43, 60, 21);
  font-size: 55px;
  font-family: "interstate";
  font-weight: 600;
  line-height: 115%;
  padding-bottom: 15px;
  position: relative;
  text-transform: capitalize;
  margin-bottom: 40px;
}
.secttitle::after {
  content: "";
  display: inline-block;
  height: 4px;
  width: 120px;
  background: rgb(139, 197, 63);
  position: absolute;
  left: 0;
  bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

img {
  max-width: 100%;
}

.white-bg {
  background: #fff;
}

.green-bg {
  background: rgb(226, 240, 207);
}

.lgreen-bg {
  background: #EEF4EC;
}

@media (max-width: 1599.8px) {
  h1 {
    font-size: 60px;
    max-width: 640px;
  }
  .greenbtn span {
    font-size: 20px;
    min-height: 52px;
  }
  .greenbtn img {
    width: 20px;
  }
  .secttitle {
    font-size: 46px;
  }
  body {
    font-size: 16px;
  }
}
@media (max-width: 575.8px) {
  main.main {
    padding-top: 70px;
  }
  h1 {
    font-size: 40px;
  }
}
.herosect {
  height: calc(100vh - 88px);
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  background: rgb(226, 240, 207);
}
.herosect .sectobj {
  position: absolute;
  opacity: 0.2;
  height: 100%;
  left: 0;
  top: 0;
}
.herosect .container {
  position: relative;
  z-index: 1;
}
.herosect .imgwrap {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50%;
}
.herosect .imgwrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 0;
}

.whatwedo {
  padding: 170px 0 145px;
}

.whatwedo__leftsect {
  position: sticky;
  top: 100px;
}
.whatwedo__leftsect p:not(.secttitle) {
  color: rgb(103, 103, 103);
  margin-bottom: 50px;
  max-width: 460px;
}

.whatwedo__rightsect {
  padding-right: 70px;
}

.wwdobox {
  display: block;
  padding: 30px;
  background: #EEF4EC;
  margin-bottom: 30px;
}
.wwdobox:last-child {
  margin-bottom: 0;
}
.wwdobox .wwdobox__img {
  height: 300px;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}
.wwdobox .wwdobox__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 4px;
}
.wwdobox .wwdobox__descr h4 {
  position: relative;
  padding-top: 30px;
  font-family: "interstate";
  font-weight: 600;
  font-size: 40px;
  color: rgb(43, 60, 21);
  margin-bottom: 25px;
  line-height: normal;
}
.wwdobox .wwdobox__descr h4::before {
  content: "";
  display: inline-block;
  width: 120px;
  height: 5px;
  background: rgb(197, 63, 139);
  position: absolute;
  left: 0;
  top: 0;
}
.wwdobox .wwdobox__descr p {
  color: rgb(103, 103, 103);
  margin: 0;
}

.whoweare {
  padding: 120px 0;
  background: #E2F0CF;
}

.whoweare__leftsect .secttitle {
  margin-bottom: 60px;
}
.whoweare__leftsect p:not(.secttitle) {
  max-width: 600px;
  color: rgb(103, 103, 103);
}
.whoweare__leftsect p:not(.secttitle):last-child {
  margin-bottom: 0;
}

.bgpic-mob {
  display: none;
}

@media (max-width: 1599.8px) {
  .whatwedo,
  .whoweare {
    padding: 100px 0;
  }
  .whoweare__leftsect .secttitle {
    margin-bottom: 40px;
  }
}
@media (max-width: 1199.8px) {
  .wwdobox {
    padding: 15px 15px 25px 15px;
  }
  .wwdobox .wwdobox__descr h4 {
    font-size: 32px;
    padding-top: 15px;
  }
  .wwdobox .wwdobox__descr h4::before {
    height: 3px;
  }
  .whatwedo__rightsect {
    padding-right: 0;
  }
  .footer__box {
    padding-left: 25px;
  }
}
@media (max-width: 991.8px) {
  .whatwedo, .whoweare {
    padding: 70px 0;
  }
  .whatwedo__leftsect {
    margin-bottom: 40px;
  }
  .whoweare__leftsect {
    margin-bottom: 40px;
  }
  .herosect .imgwrap {
    width: 40%;
  }
}
@media (max-width: 767.8px) {
  .herosect {
    background: rgb(226, 240, 207);
    padding: 30px 0;
    height: auto;
    min-height: calc(100vh - 88px);
  }
}
@media (max-width: 575.8px) {
  .herosect {
    min-height: calc(100vh - 70px);
    height: auto;
    background: rgb(226, 240, 207);
    flex-direction: column;
    justify-content: space-between;
    padding: 90px 0 0 0;
  }
  .bgpic-mob {
    display: block;
    position: relative;
    z-index: 2;
    width: 100%;
    height: 400px;
    margin-top: 30px;
  }
  .bgpic-mob img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
  }
  .herosect h1 {
    margin-bottom: 50px;
  }
  .herosect .sectobj {
    left: -50px;
  }
  .whatwedo, .whoweare {
    padding: 50px 0;
  }
  .whatwedo__leftsect p:not(.secttitle) {
    max-width: 100%;
    margin-bottom: 30px;
  }
  .wwdobox .wwdobox__descr h4 {
    font-size: 28px;
  }
  .wwdobox .wwdobox__img {
    height: 230px;
  }
  .whoweare__leftsect .secttitle {
    margin-bottom: 30px;
  }
  .herosect .imgwrap {
    display: none;
  }
}
@media (max-width: 430.8px) and (max-height: 668px) {
  .herosect {
    padding-top: 60px;
  }
  .herosect h1 {
    margin-bottom: 30px;
    font-size: 36px;
  }
  .bgpic-mob {
    height: 260px;
    margin-top: 30px;
  }
}
@media (max-width: 800.8px) and (orientation: landscape) {
  .herosect h1 {
    font-size: 44px;
    max-width: 70%;
  }
}
.welcsection {
  position: relative;
  overflow: hidden;
}
.welcsection .waveimg {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
}
.welcsection .col-lg-6 {
  height: 532px;
}
.welcsection .col-lg-6:nth-child(1) {
  display: flex;
  align-items: center;
  padding-top: 95px;
  padding-bottom: 95px;
}
.welcsection .col-lg-6:nth-child(2) {
  display: flex;
  align-items: flex-end;
  max-height: 100%;
  justify-content: center;
}
.welcsection .container {
  position: relative;
  z-index: 6;
}
.welcsection h1 {
  margin-bottom: 25px;
}

.welcsection__wrap {
  position: relative;
}

.welcsection__bgelright,
.welcsection__bgelleft {
  max-width: 412px;
}

.welcsection__bgelright {
  position: absolute;
  right: 0;
  top: 0;
}

.welcsection__bgelleft {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
}

.breadcrumbs {
  margin-bottom: 30px;
}
.breadcrumbs ul li {
  margin-right: 24px;
  color: rgb(64, 64, 64);
  font-size: 14px;
  font-weight: 600;
  line-height: 130%;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.breadcrumbs ul li::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../img/general/breadarr.svg") no-repeat center/100%;
  position: absolute;
  right: -20px;
  top: 2px;
}
.breadcrumbs ul li:last-child {
  margin-right: 0;
}
.breadcrumbs ul li:last-child::after {
  display: none;
}
.breadcrumbs ul li a {
  color: rgb(103, 103, 103);
  font-weight: 400;
}

.welcsection__left p {
  max-width: 580px;
  color: rgb(103, 103, 103);
}
.welcsection__left p:last-child {
  margin-bottom: 0;
}

.welcsection__img img {
  vertical-align: top;
}

.welcsection__bgsect {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.welcsection__bgsect img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}
.welcsection__bgsect::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(248, 248, 255, 0.9);
  backdrop-filter: blur(50px);
}

.services {
  padding: 150px 0 110px;
}
.services .secttitle {
  margin-bottom: 60px;
}

.servicebox {
  background: #EEF4EC;
  padding: 30px 50px;
  text-align: center;
  border-radius: 4px;
  overflow: hidden;
  height: 265px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}
.servicebox::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 4px;
  width: 100%;
  background: rgb(197, 63, 139);
  transition: 0.3s;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.servicebox img {
  max-width: 88px;
  width: 100%;
  filter: drop-shadow(0 0 14px rgba(0, 0, 0, 0.08));
  margin-bottom: 25px;
  transition: 0.3s;
}
.servicebox h6 {
  margin: 0;
  font-family: "interstate";
  font-weight: 600;
  font-size: 40px;
  line-height: 115%;
  color: rgb(43, 60, 21);
  transition: 0.3s;
}
.servicebox:hover {
  color: rgb(12, 17, 6);
}
.servicebox:hover::after {
  width: 0;
}
.servicebox:hover img {
  transform: scale(1.05);
}

.dataanalitics {
  background: rgb(226, 240, 207);
  padding: 130px 0;
}
.dataanalitics .secttitle {
  margin-bottom: 60px;
}

.dataanalitics__descr p {
  color: rgb(103, 103, 103);
}
.dataanalitics__descr p:last-child {
  margin-bottom: 0;
}

.dataanlists {
  margin-top: 60px;
}
.dataanlists .boxtitle {
  color: rgb(43, 60, 21);
  margin-bottom: 30px;
  padding-bottom: 15px;
  position: relative;
  font-family: "interstate";
  font-weight: 600;
  font-size: 40px;
  line-height: 115%;
}
.dataanlists .boxtitle::after {
  content: "";
  display: inline-block;
  height: 4px;
  width: 120px;
  background: rgb(197, 63, 139);
  position: absolute;
  left: 0;
  bottom: 0;
}
.dataanlists > p {
  margin-bottom: 40px;
  color: rgb(103, 103, 103);
  max-width: 680px;
}

.dataanlist {
  display: flex;
  margin-bottom: 60px;
}
.dataanlist .imgwrap {
  width: 100%;
  max-width: 74px;
  flex: 0 0 74px;
}
.dataanlist .imgwrap img {
  width: 100%;
}
.dataanlist .descrwrap {
  width: 100%;
  max-width: calc(100% - 74px);
  flex: 0 0 calc(100% - 74px);
  padding-left: 25px;
}
.dataanlist .descrwrap .title {
  margin-bottom: 15px;
  font-family: "interstate";
  font-weight: 600;
  font-size: 25px;
  line-height: 115%;
  color: rgb(43, 60, 21);
  text-transform: capitalize;
}
.dataanlist .descrwrap p {
  color: rgb(103, 103, 103);
  margin: 0;
}

.setvinfosect {
  padding: 130px 0;
}
.setvinfosect.p60 {
  padding: 60px 0;
}
.setvinfosect .secttitle {
  margin-bottom: 60px;
}
.setvinfosect p:not(.secttitle) {
  color: rgb(103, 103, 103);
}
.setvinfosect img {
  border-radius: 4px;
}
.setvinfosect ul {
  list-style-type: disc;
  padding-left: 20px;
}
.setvinfosect ul li {
  color: rgb(103, 103, 103);
  margin-bottom: 5px;
}
.setvinfosect .stitle {
  margin-bottom: 15px;
  font-family: "interstate";
  font-weight: 600;
  font-size: 25px;
  color: rgb(43, 60, 21);
  text-transform: capitalize;
}

.rowinf {
  margin-bottom: 60px;
}

.textsect {
  padding: 60px 0;
}
.textsect .title {
  margin-bottom: 30px;
  position: relative;
  font-family: "interstate";
  font-weight: 600;
  padding-bottom: 15px;
  color: rgb(43, 60, 21);
  font-size: 40px;
  line-height: normal;
}
.textsect .title::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 120px;
  background: rgb(197, 63, 139);
}
.textsect p {
  color: rgb(103, 103, 103);
}
.textsect p:last-child {
  margin-bottom: 0;
}

.dataanalitics__descr .secttitle {
  color: rgb(43, 60, 21);
}

.setvinfosect .gallsect {
  margin: 60px 0;
}
.setvinfosect .gallsect .title {
  font-family: "interstate";
  font-weight: 600;
  font-size: 25px;
  color: rgb(43, 60, 21);
  margin-bottom: 15px;
  text-transform: capitalize;
}
.setvinfosect .gallsect .imgwrap {
  position: relative;
}
.setvinfosect .gallsect .imgwrap::after {
  content: "";
  display: block;
  padding-bottom: 80%;
}
.setvinfosect .gallsect .imgwrap img {
  position: absolute;
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
  height: 100%;
}

.imgrow {
  margin-top: 40px;
}

.partnersect {
  display: flex;
  flex-wrap: wrap;
}
.partnersect .partnersect__left {
  width: 100%;
  max-width: 55%;
  flex: 0 0 55%;
  background: rgb(139, 197, 63);
  display: flex;
  align-items: center;
  position: relative;
}
.partnersect .partnersect__left .vawe {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  opacity: 0.2;
}
.partnersect .partnersect__left .textwrapper {
  padding-left: calc((100vw - 1450px) / 2 + 12px);
  position: relative;
  z-index: 2;
}
.partnersect .partnersect__left .title {
  font-family: "interstate";
  font-weight: 600;
  font-size: 55px;
  color: rgb(12, 17, 6);
  padding-bottom: 15px;
  position: relative;
  line-height: normal;
  margin-bottom: 50px;
}
.partnersect .partnersect__left .title::after {
  content: "";
  display: inline-block;
  width: 120px;
  height: 4px;
  background: rgb(197, 63, 139);
  position: absolute;
  left: 0;
  bottom: 0;
}
.partnersect .partnersect__left .partnerlogo {
  width: 150px;
  position: absolute;
  right: -75px;
  top: 50%;
  transform: translateY(-50%);
}
.partnersect .partnersect__right {
  width: 100%;
  max-width: 45%;
  flex: 0 0 45%;
}
.partnersect .partnersect__right .imgwrap {
  height: 470px;
}
.partnersect .partnersect__right .imgwrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

@media (max-width: 1599.8px) {
  .welcsection .col-lg-6:first-child {
    padding-top: 60px;
  }
  .servicebox h6 {
    font-size: 32px;
  }
  .dataanlists {
    margin-top: 30px;
  }
  .dataanlist {
    margin-bottom: 40px;
  }
  .rowinf {
    margin-bottom: 30px;
  }
  .partnersect .partnersect__left .title {
    font-size: 48px;
  }
  .partnersect .partnersect__right .imgwrap {
    height: 400px;
  }
  .partnersect .partnersect__left .partnerlogo {
    width: 100px;
    right: -50px;
  }
  .services,
  .dataanalitics,
  .setvinfosect {
    padding: 100px 0;
  }
  .dataanalitics .secttitle,
  .setvinfosect .secttitle {
    margin-bottom: 40px;
  }
  .dataanlists .boxtitle {
    font-size: 32px;
  }
  .dataanlist .descrwrap .title {
    font-size: 22px;
    margin-bottom: 10px;
  }
}
@media (max-width: 1499.8px) {
  .partnersect .partnersect__left .textwrapper {
    padding-left: calc((100vw - 1320px) / 2 + 12px);
  }
  .partnersect .partnersect__left .title {
    font-size: 42px;
    margin-bottom: 40px;
  }
  .partnersect .partnersect__right .imgwrap {
    height: 360px;
  }
  .partnersect .partnersect__left {
    padding-top: 20px;
  }
  .setvinfosect .gallsect .imgwrap:after {
    padding-bottom: 64%;
  }
}
@media (max-width: 1399.8px) {
  .partnersect .partnersect__left .textwrapper {
    padding-left: calc((100vw - 1140px) / 2 + 12px);
  }
  .welcsection__bgelright,
  .welcsection__bgelleft {
    max-width: 300px;
  }
}
@media (max-width: 1199.8px) {
  .partnersect .partnersect__left .textwrapper {
    padding-left: calc((100vw - 960px) / 2 + 12px);
  }
  .partnersect .partnersect__left .title {
    font-size: 36px;
  }
  .servicebox img {
    max-width: 60px;
  }
  .servicebox h6 {
    font-size: 28px;
  }
  .servicebox {
    height: 230px;
  }
  .services {
    padding-bottom: 80px;
  }
}
@media (max-width: 991.8px) {
  .welcsection .col-lg-6 {
    height: auto;
    padding-top: 0 !important;
    padding-top: 0 !important;
  }
  .welcsection__left {
    padding-top: 60px;
  }
  .welcsection__img img {
    position: relative;
    z-index: 3;
  }
  .dataanalitics,
  .services,
  .setvinfosect {
    padding: 70px 0 50px;
  }
  .rowinf .text-center img {
    margin: 20px 0;
  }
  .rowinf:nth-child(even) {
    flex-direction: column-reverse;
  }
  .setvinfosect .gallsect {
    margin-top: 20px;
  }
  .setvinfosect .gallsect .imgwrap {
    margin-bottom: 20px;
  }
  .setvinfosect .gallsect {
    margin-bottom: 30px;
  }
  .partnersect .partnersect__left .textwrapper {
    padding-left: calc((100vw - 720px) / 2 + 12px);
  }
  .partnersect .partnersect__right {
    max-width: 35%;
    flex: 0 0 35%;
  }
  .partnersect .partnersect__left {
    max-width: 65%;
    flex: 0 0 65%;
  }
}
@media (max-width: 767.8px) {
  .partnersect .partnersect__left .textwrapper {
    padding-left: calc((100vw - 540px) / 2 + 12px);
  }
}
@media (max-width: 575.8px) {
  .welcsection__bgelleft,
  .welcsection__bgelright {
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .welcsection__left {
    padding-top: 120px;
  }
  .breadcrumbs {
    display: none;
  }
  .welcsection h1 {
    margin-bottom: 20px;
  }
  .welcsection .waveimg {
    width: 1300px;
    max-width: inherit;
  }
  .welcsection .col-lg-6:first-child {
    padding-bottom: 0;
  }
  .welcsection__img img {
    max-width: 260px;
  }
  .welcsection__img {
    padding-bottom: 100px;
  }
  .servicebox {
    height: auto;
    min-height: 200px;
  }
  .dataanalitics .secttitle,
  .setvinfosect .secttitle {
    margin-bottom: 25px;
  }
  .dataanlist .imgwrap {
    max-width: 50px;
    flex: 0 0 50%;
  }
  .dataanlist .descrwrap {
    max-width: calc(100% - 50px);
    flex: 0 0 calc(100% - 50px);
    padding-left: 10px;
  }
  .dataanlist .descrwrap .title {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .dataanlist {
    margin-bottom: 20px;
  }
  .rowinf {
    margin-bottom: 20px;
  }
  .rowinf .text-center img {
    margin: 15px 0;
  }
  .textsect .title {
    font-size: 28px;
  }
  .textsect .title {
    margin-bottom: 25px;
  }
  .dataanlists .boxtitle {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .services .secttitle {
    margin-bottom: 40px;
  }
  .welcsection__left p {
    font-size: 14px;
  }
  .dataanalitics,
  .services,
  .setvinfosect {
    padding: 60px 0 40px;
  }
  .partnersect .partnersect__left .textwrapper {
    padding-left: 12px;
    padding-right: 12px;
  }
  .partnersect .partnersect__left {
    max-width: 100%;
    flex: 0 0 100%;
    padding: 30px 0;
  }
  .partnersect .partnersect__right {
    display: none;
  }
  .partnersect .partnersect__left .partnerlogo {
    display: none;
  }
  .setvinfosect .gallsect {
    margin-bottom: 15px;
  }
}
.setvinfosect.solutbox ul li {
  font-weight: 600;
}

.followingsolutions {
  padding: 130px 0;
}

.solutionbox {
  background: #fff;
  border-radius: 4px;
  display: block;
  padding: 30px;
}
.solutionbox .imgwrap {
  height: 300px;
  text-align: center;
  margin-bottom: 30px;
}
.solutionbox .imgwrap img {
  max-width: 100%;
  max-height: 100%;
}
.solutionbox h6 {
  font-family: "interstate";
  font-weight: 600;
  padding-top: 20px;
  margin-bottom: 20px;
  position: relative;
  font-size: 40px;
  line-height: 115%;
  color: rgb(43, 60, 21);
}
.solutionbox h6::after {
  content: "";
  display: inline-block;
  height: 4px;
  width: 120px;
  background: rgb(197, 63, 139);
  position: absolute;
  left: 0;
  top: 0;
}
.solutionbox p {
  color: rgb(103, 103, 103);
  margin-bottom: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.setvinfosect p.stitle {
  color: rgb(43, 60, 21);
}

@media (max-width: 1599.8px) {
  .followingsolutions {
    padding: 100px 0;
  }
}
@media (max-width: 1440.8px) {
  .solutionbox h6 {
    font-size: 32px;
  }
}
@media (max-width: 991.8px) {
  .setvinfosect.solutbox .imgwrap {
    margin-top: 30px;
  }
  .followingsolutions {
    padding: 70px 0 50px;
  }
  .solutionbox {
    margin-bottom: 30px;
  }
  .solutionbox .imgwrap {
    height: 240px;
  }
}
@media (max-width: 575.8px) {
  .setvinfosect.solutbox .imgwrap {
    margin-top: 20px;
  }
  .followingsolutions {
    padding: 50px 0 30px;
  }
  .solutionbox {
    padding: 15px;
  }
  .solutionbox .imgwrap {
    height: 160px;
  }
  .solutionbox h6 {
    font-size: 24px;
    padding-top: 10px;
    margin-bottom: 15px;
  }
  .solutionbox h6::after {
    height: 3px;
    width: 80px;
  }
}
.welcsection.welcsection__green {
  background: rgb(226, 240, 207);
}
.welcsection.welcsection__green .col-lg-6:nth-child(2) {
  justify-content: flex-start;
}

.sinfosect {
  padding: 150px 0 0 0;
}
.sinfosect .descr {
  max-width: 460px;
}
.sinfosect .descr p {
  font-size: 18px;
  color: rgb(103, 103, 103);
}
.sinfosect .descr p:last-child {
  margin-bottom: 0;
}
.sinfosect .descr.w100 {
  max-width: 100%;
}
.sinfosect img {
  border-radius: 4px;
}

.sinfosect__block {
  background: #EEF4EC;
  padding: 30px;
  margin-bottom: 20px;
  min-height: 300px;
}
.sinfosect__block p {
  font-size: 18px;
  color: rgb(103, 103, 103);
}
.sinfosect__block p:last-child {
  margin-bottom: 0;
}
.sinfosect__block .title {
  font-family: "interstate";
  font-weight: 600;
  font-size: 25px;
  padding-bottom: 10px;
  margin-bottom: 15px;
  position: relative;
  text-transform: capitalize;
  color: rgb(43, 60, 21);
}
.sinfosect__block .title::after {
  content: "";
  display: inline-block;
  height: 3px;
  width: 60px;
  background: rgb(197, 63, 139);
  position: absolute;
  left: 0;
  bottom: 0;
}
.sinfosect__block ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 10px;
  font-size: 18px;
  color: rgb(103, 103, 103);
}

.countsect {
  margin: 40px 0 60px;
}

.countsect__title {
  margin-bottom: 40px;
  padding-bottom: 15px;
  position: relative;
  font-family: "interstate";
  font-weight: 600;
  color: rgb(43, 60, 21);
  font-size: 40px;
  text-transform: capitalize;
  line-height: 115%;
}
.countsect__title::after {
  content: "";
  display: inline-block;
  height: 4px;
  width: 120px;
  background: rgb(197, 63, 139);
  position: absolute;
  left: 0;
  bottom: 0;
}

.countsect__box {
  display: flex;
  flex-wrap: wrap;
}
.countsect__box .imgwrap {
  width: 100%;
  max-width: 74px;
  flex: 0 0 74px;
}
.countsect__box .imgwrap img {
  width: 100%;
}
.countsect__box .description {
  width: 100%;
  max-width: calc(100% - 74px);
  flex: 0 0 calc(100% - 74px);
  padding-left: 25px;
}
.countsect__box .description h6 {
  margin-bottom: 15px;
  font-family: "interstate";
  font-weight: 600;
  font-size: 25px;
  line-height: 115%;
  text-transform: capitalize;
  color: rgb(43, 60, 21);
}
.countsect__box .description p {
  font-size: 18px;
  color: rgb(103, 103, 103);
  margin: 0;
}
.countsect__box .description ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 10px;
  font-size: 18px;
  color: rgb(103, 103, 103);
}

.contactblock {
  margin: 80px 0 130px;
}

.contactblockwrap {
  padding: 60px 74px;
  position: relative;
  background: rgb(103, 103, 103);
  border-radius: 4px;
}
.contactblockwrap .linebg {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0.2;
  height: 100%;
}

.contactblock__descr {
  max-width: 746px;
}
.contactblock__descr .title {
  color: #fff;
  font-family: "interstate";
  font-weight: 600;
  padding-bottom: 15px;
  margin-bottom: 30px;
  font-size: 55px;
  position: relative;
  padding-bottom: 15px;
  line-height: 115%;
}
.contactblock__descr .title::after {
  content: "";
  display: inline-block;
  height: 4px;
  width: 120px;
  background: rgb(139, 197, 63);
  position: absolute;
  left: 0;
  bottom: 0;
}
.contactblock__descr .descr {
  margin-bottom: 40px;
}
.contactblock__descr .descr p {
  margin: 0;
  color: #fff;
  font-size: 18px;
}

.sinfosectab {
  padding: 130px 0;
}

.sinfosectab .secttitle {
  margin-bottom: 60px;
}
.sinfosectab .descr p {
  font-size: 18px;
  color: rgb(103, 103, 103);
}
.sinfosectab .intermediate-box {
  margin: 60px 0;
}
.sinfosectab .intermediate-box .subtitle {
  font-family: "interstate";
  font-weight: 600;
  margin-bottom: 15px;
  color: rgb(43, 60, 21);
  font-size: 25px;
  line-height: 115%;
  text-transform: capitalize;
}
.sinfosectab .intermediate-box .descr p:last-child {
  margin-bottom: 0;
}
.sinfosectab .boxtitle {
  margin-bottom: 30px;
  position: relative;
  font-family: "interstate";
  font-weight: 600;
  padding-bottom: 15px;
  color: rgb(43, 60, 21);
  font-size: 40px;
  line-height: normal;
  text-transform: capitalize;
}
.sinfosectab .boxtitle::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 120px;
  background: rgb(197, 63, 139);
}

@media (max-width: 1599.8px) {
  .sinfosect {
    padding: 100px 0 0 0;
  }
  .contactblock {
    margin-bottom: 100px;
  }
  .sinfosectab {
    padding: 100px 0;
  }
  .sinfosect .descr p,
  .sinfosect__block p,
  .countsect__box .description p,
  .contactblock__descr .descr p,
  .sinfosectab .descr p {
    font-size: 16px;
  }
}
@media (max-width: 991.8px) {
  .contactblock__descr {
    position: relative;
    z-index: 2;
  }
  .sinfosect {
    padding: 70px 0 50px;
  }
  .sinfosect .secttitle br {
    display: none;
  }
  .sinfosect .descr {
    max-width: 100%;
    margin-bottom: 40px;
  }
  .countsect__title,
  .sinfosectab .boxtitle {
    font-size: 32px;
  }
  .countsect .col-lg-4 .countsect__box {
    margin-bottom: 30px;
  }
  .countsect .col-lg-4:last-child .countsect__box {
    margin-bottom: 0;
  }
  .sinfosect img {
    width: 100%;
  }
  .contactblock {
    margin: 60px 0;
  }
  .sinfosectab {
    padding: 70px 0;
  }
  .sinfosectab .imgwrap img {
    width: 100%;
    margin-bottom: 30px;
  }
}
@media (max-width: 575.8px) {
  .welcsection.welcsection__green .welcsection__img {
    padding-bottom: 0;
  }
  .welcsection.welcsection__green .welcsection__left {
    padding-top: 80px;
  }
  .welcsection.welcsection__green h1 {
    margin-bottom: 30px;
  }
  .welcsection.welcsection__green .welcsection__img img {
    max-width: 100%;
    width: 100%;
    margin-top: 50px;
  }
  .sinfosect {
    padding: 60px 0 40px;
  }
  .sinfosect__block {
    padding: 20px;
    min-height: initial;
  }
  .countsect__title,
  .sinfosectab .boxtitle {
    font-size: 24px;
  }
  .countsect__box .imgwrap {
    max-width: 44px;
    flex: 0 0 44px;
  }
  .countsect__box .description {
    max-width: calc(100% - 44px);
    flex: 0 0 calc(100% - 44px);
  }
  .countsect__box .description {
    padding-left: 10px;
  }
  .countsect__box .description h6 {
    font-size: 21px;
    margin-bottom: 10px;
  }
  .countsect__title {
    margin-bottom: 20px;
  }
  .contactblockwrap {
    padding: 20px;
  }
  .contactblock__descr .title {
    font-size: 32px;
    margin-bottom: 15px;
  }
  .contactblockwrap {
    overflow: hidden;
    position: relative;
  }
  .contactblockwrap .linebg {
    right: -200px;
  }
  .sinfosectab {
    padding: 50px 0;
  }
  .sinfosectab .descr p:last-child {
    margin-bottom: 0;
  }
}
.dainfosection {
  padding: 150px 0 60px;
}
.dainfosection .secttitle {
  margin-bottom: 60px;
}

.dainfosection__description .title {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 25px;
  font-family: "interstate";
  margin-bottom: 15px;
  color: rgb(43, 60, 21);
}
.dainfosection__description p {
  color: rgb(103, 103, 103);
}
.dainfosection__description p:last-child {
  margin-bottom: 0;
}
.dainfosection__description .dainfosection__checklist {
  margin-top: 60px;
}

.dainfosection__checklist {
  position: relative;
  max-width: 680px;
}
.dainfosection__checklist li {
  position: relative;
  padding-left: 99px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.dainfosection__checklist li:last-child {
  margin-bottom: 0;
}
.dainfosection__checklist li::before {
  content: "";
  display: inline-block;
  width: 74px;
  height: 74px;
  background: url("../img/dataanilitics/pinkcheck.png") no-repeat center/100% 100%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}
.dainfosection__checklist li .item-title {
  margin-bottom: 15px;
  color: rgb(43, 60, 21);
  text-transform: capitalize;
  font-size: 25px;
  font-weight: 600;
  font-family: "interstate";
}
.dainfosection__checklist li p {
  color: rgb(103, 103, 103);
}
.dainfosection__checklist li p:last-child {
  margin-bottom: 0;
}
.dainfosection__checklist li::after {
  content: "";
  display: inline-block;
  background: url("../img/dataanilitics/listliene.png") no-repeat center/100% auto;
  width: 1.5px;
  height: 100%;
  position: absolute;
  left: 37px;
  top: calc(50% + 30px);
}
.dainfosection__checklist li:last-child::after {
  display: none;
}

.dapicrsect {
  padding: 80px 0;
}
.dapicrsect .dapicrinfo p {
  color: rgb(103, 103, 103);
}
.dapicrsect .dapicrinfo p:last-child {
  margin-bottom: 0;
}
.dapicrsect .dapicrinfo .title {
  margin-bottom: 40px;
  padding-bottom: 15px;
  text-transform: capitalize;
  font-weight: 600;
  font-family: "interstate";
  color: rgb(43, 60, 21);
  font-size: 40px;
  position: relative;
  line-height: normal;
}
.dapicrsect .dapicrinfo .title::after {
  content: "";
  display: inline-block;
  height: 4px;
  width: 120px;
  background: rgb(197, 63, 139);
  position: absolute;
  left: 0;
  bottom: 0;
}
.dapicrsect .text-center {
  margin-top: 50px;
}

@media (max-width: 1599.8px) {
  .dainfosection {
    padding: 100px 0 60px;
  }
}
@media (max-width: 991.8px) {
  .dainfosection {
    padding: 70px 0 50px;
  }
  .dainfosection .secttitle {
    margin-bottom: 40px;
  }
  .dainfosection .secttitle br {
    display: none;
  }
  .dapicrsect .imgwrap.d-flex.justify-content-end {
    justify-content: center !important;
    margin-top: 30px;
  }
}
@media (max-width: 575.8px) {
  .dapicrsect,
  .dainfosection {
    padding: 60px 0 40px;
  }
  .welcsection.welcsection__green .welcsection__left {
    padding-top: 60px;
  }
  .dainfosection__checklist li:before {
    width: 46px;
    height: 46px;
    top: 0;
    transform: none;
  }
  .dainfosection__checklist li {
    padding-left: 65px;
  }
  .dainfosection__checklist li:after {
    top: 23px;
    left: 23px;
  }
  .dainfosection__description .title,
  .dainfosection__checklist li .item-title {
    font-size: 21px;
  }
  .dainfosection__description .dainfosection__checklist {
    margin-top: 40px;
  }
  .dainfosection__checklist li .item-title {
    margin-bottom: 10px;
  }
  .dapicrsect .dapicrinfo .title {
    font-size: 30px;
    margin-bottom: 20px;
  }
}
.welcsection__img img {
  position: relative;
  z-index: 2;
}

.contactsection {
  padding: 150px 0;
}
.contactsection .descr {
  max-width: 460px;
  margin-bottom: 60px;
}
.contactsection .descr p {
  color: rgb(103, 103, 103);
}
.contactsection .descr p:last-child {
  margin-bottom: 0;
}
.contactsection .continfo .title {
  font-family: "interstate";
  font-size: 25px;
  margin-bottom: 40px;
  color: rgb(43, 60, 21);
}
.contactsection .continfo a img {
  width: 38px;
}
.contactsection .greenbtn {
  max-width: 100%;
  width: 100%;
}
.contactsection .greenbtn span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts__form {
  background: #fff;
  padding: 50px;
}
.contacts__form .inputfield {
  margin-bottom: 35px;
}
.contacts__form .inputfield label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
  line-height: 130%;
}
.contacts__form .inputfield label span {
  color: rgb(205, 24, 24);
}
.contacts__form .inputfield input {
  width: 100%;
  background: #F8F8FF;
  border: 1px solid rgb(226, 240, 207);
  padding-left: 20px;
  height: 56px;
  font-size: 18px;
  border-radius: 5px;
  color: #000;
  font-family: "Open Sans", sans-serif;
  transition: 0.3s;
}
.contacts__form .inputfield input:focus {
  border: 1px solid #8BC53F;
}
.contacts__form .inputfield input::placeholder {
  color: rgb(103, 103, 103);
}
.contacts__form .inputfield textarea {
  width: 100%;
  background: #F8F8FF;
  border: 1px solid rgb(226, 240, 207);
  padding-left: 20px;
  height: 125px;
  font-size: 18px;
  border-radius: 5px;
  color: #000;
  resize: none;
  padding-top: 10px;
  font-family: "Open Sans", sans-serif;
  vertical-align: top;
  outline: none;
  transition: 0.3s;
}
.contacts__form .inputfield textarea:focus {
  border: 1px solid #8BC53F;
}
.contacts__form .inputfield textarea::placeholder {
  color: rgb(103, 103, 103);
}
.contacts__form .inputfield .select2.select2-container.select2-container--open .select2-selection--single {
  border: 1px solid #8BC53F;
}
.contacts__form .inputfield .select2-container {
  width: 100% !important;
}
.contacts__form .inputfield .select2-container--default .select2-selection--single {
  transition: 0.3s;
  background: #F8F8FF;
  border: 1px solid rgb(226, 240, 207);
  border-radius: 5px;
  height: 56px;
}
.contacts__form .inputfield .select2-container--default .select2-selection--single .select2-selection__rendered {
  padding-left: 20px;
  font-size: 18px;
  font-weight: 600;
  color: #000;
  line-height: 56px;
  font-family: "Open Sans", sans-serif;
}
.contacts__form .inputfield .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 56px;
  width: 40px;
}
.contacts__form .inputfield .select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: rgb(197, 63, 139) transparent transparent transparent;
  border-width: 5px 5px 0 5px;
}

.select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar {
  width: 6px;
}
.select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar-track {
  background: #F8F8FF;
}
.select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar-thumb {
  background-color: rgb(226, 240, 207);
  border-radius: 5px;
}

.select2-container--open .select2-dropdown--below {
  border: 1px solid rgb(226, 240, 207) !important;
  border-radius: 5px !important;
  background: #F8F8FF;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background: rgb(139, 197, 63);
}

button {
  cursor: pointer;
}

@media (max-width: 1599.8px) {
  .contactsection {
    padding: 100px 0 60px;
  }
  .contactsection .descr {
    margin-bottom: 40px;
  }
  .contactsection .continfo .title {
    margin-bottom: 20px;
  }
  .contacts__form .inputfield {
    margin-bottom: 25px;
  }
  .contacts__form .inputfield label,
  .contacts__form .inputfield input,
  .contacts__form .inputfield .select2-container--default .select2-selection--single .select2-selection__rendered,
  .contacts__form .inputfield textarea {
    font-size: 16px;
  }
}
@media (max-width: 991.8px) {
  .contactsection {
    padding: 70px 0 50px;
  }
  .contacts__descr {
    margin-bottom: 30px;
  }
}
@media (max-width: 575.8px) {
  .contactsection {
    padding: 60px 0 40px;
  }
  .contacts__form {
    padding: 20px;
  }
  .contacts__form .inputfield input {
    height: 50px;
    padding-left: 15px;
  }
  .contacts__form .inputfield {
    margin-bottom: 20px;
  }
  .contacts__form .inputfield .select2-container--default .select2-selection--single .select2-selection__rendered {
    padding-left: 15px;
  }
  .contacts__form .inputfield textarea {
    padding-left: 15px;
  }
  .contactsection .continfo .title {
    font-size: 21px;
    margin-bottom: 10px;
  }
}
.findresult {
  height: 332px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.findresult .secttitle {
  margin-bottom: 0;
}
.findresult::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(248, 248, 255, 0.9);
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
}
.findresult .container {
  position: relative;
  z-index: 1;
}

.findresult__bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  position: absolute;
  left: 0;
  top: 0;
}

.resultsection {
  padding: 80px 0;
}

.result-item {
  margin-bottom: 60px;
}
.result-item .descr {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.result-item .title {
  margin-bottom: 30px;
  color: rgb(43, 60, 21);
  font-size: 40px;
  font-family: "interstate";
  font-weight: 600;
  text-transform: capitalize;
  display: inline-block;
  position: relative;
  line-height: normal;
}
.result-item .title::after {
  content: "";
  display: inline-block;
  height: 1px;
  width: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.3s;
  background: rgb(43, 60, 21);
}
.result-item .title:hover::after {
  width: 100%;
}
.result-item p {
  max-width: 700px;
  font-size: 18px;
  color: rgb(103, 103, 103);
}
.result-item p a {
  color: rgb(12, 17, 6);
  font-weight: 600;
  text-decoration: underline;
}
.result-item p a:hover {
  text-decoration: none;
}
.result-item p:last-child {
  margin-bottom: 0;
}

@media (max-width: 991.8px) {
  .findresult {
    height: 260px;
  }
  .resultsection {
    padding: 70px 0;
  }
  .result-item .title {
    font-size: 36px;
    margin-bottom: 15px;
  }
}
@media (max-width: 575.8px) {
  .secttitle {
    font-size: 32px;
  }
  .findresult {
    height: 220px;
  }
  .resultsection {
    padding: 60px 0;
  }
  .result-item .title {
    font-size: 26px;
    margin-bottom: 10px;
  }
  .result-item p {
    font-size: 16px;
  }
  .result-item {
    margin-bottom: 40px;
  }
  .result-item:last-child {
    margin-bottom: 0;
  }
}
header.header {
  background: #F8F8FF;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 88px;
  display: flex;
  align-items: center;
  z-index: 12;
}
header.header .col-lg-2 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header.header.scroll {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.header__logo {
  position: relative;
  display: inline-block;
}
.header__logo img {
  max-width: 100%;
}
.header__logo::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 26px;
  background: rgba(103, 103, 103, 0.3);
  position: absolute;
  right: -40px;
  top: 50%;
  transform: translateY(-50%);
}

.header__navcol nav > ul > li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 40px;
  position: relative;
}
.header__navcol nav > ul > li:last-child {
  margin-right: 0;
}
.header__navcol nav > ul > li > a {
  display: inline-flex;
  font-size: 20px;
  font-family: "interstate";
  font-weight: 600;
  color: rgb(12, 17, 6);
  position: relative;
}
.header__navcol nav > ul > li.dropdown > a {
  padding-right: 22px;
}
.header__navcol nav > ul > li.dropdown > a::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../img/general/header-arrow.svg") no-repeat center/100%;
  position: absolute;
  right: 0;
  top: 7px;
  transition: 0.3s;
}
.header__navcol nav > ul > li.dropdown > a.active::after {
  transform: rotate(-180deg);
}
.header__navcol nav .submenu {
  position: absolute;
  z-index: 2;
  top: 58px;
  background: #fff;
  padding: 30px;
  width: 406px;
  left: -30px;
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  transform: translateY(10px);
  transition: 0.3s;
}
.header__navcol nav .submenu.active {
  opacity: 1;
  z-index: 1;
  visibility: visible;
  transform: translateY(0);
}
.header__navcol nav .submenu li {
  margin-bottom: 15px;
}
.header__navcol nav .submenu li:last-child {
  margin-bottom: 0;
}
.header__navcol nav .submenu li a {
  transition: 0.3s;
  color: rgb(43, 60, 21);
}
.header__navcol nav .submenu li a:hover {
  color: rgb(12, 17, 6);
}

.header__rightsect {
  position: relative;
  text-align: right;
  width: 97px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}
.header__rightsect > a {
  position: relative;
  display: flex;
}
.header__rightsect > a img {
  vertical-align: top;
  width: 24px;
}
.header__rightsect > a::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 26px;
  background: rgba(103, 103, 103, 0.3);
  position: absolute;
  left: -26px;
  top: 50%;
  transform: translateY(-50%);
}

.header__search {
  display: flex;
  position: relative;
}
.header__search img {
  vertical-align: top;
  width: 24px;
  cursor: pointer;
}

.header__search form input {
  height: 38px;
  border-radius: 4px;
  background: #fff;
  border: 1px solid rgb(226, 240, 207);
  width: 100%;
  padding-left: 10px;
  padding-right: 36px;
  position: absolute;
  right: -10px;
  top: -6px;
  width: 200px;
  display: none;
}
.header__search form.active {
  width: 200px;
}
.header__search form .btnwrap {
  width: 24px;
  height: 24px;
  right: 0;
  top: 0;
}
.header__search form .btnwrap img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.header__search form .btnwrap button {
  width: 100%;
  height: 100%;
  position: relative;
  display: none;
}

.burger,
.header__navcol .soc {
  display: none;
}

@media (max-width: 1599.8px) {
  .header__navcol nav > ul > li.dropdown > a:after {
    top: 5px;
  }
}
@media (max-width: 1499.8px) {
  .header__logo:after {
    right: -26px;
  }
}
@media (max-width: 1399.8px) {
  .header__logo:after {
    right: -12px;
  }
  .header__logo img {
    width: calc(100% - 20px);
  }
  .header__navcol nav {
    padding-left: 12px;
  }
  .header__navcol nav .submenu {
    width: 360px;
  }
  .header__navcol nav .submenu li {
    margin-bottom: 10px;
  }
}
@media (max-width: 991.8px) {
  .header__navcol {
    position: fixed;
    left: 0;
    top: 70px;
    height: calc(100vh - 70px);
    background: #fff;
    padding: 50px 0 30px 0;
    overflow: auto;
    transition: 0.5s;
    transform: translateX(100%);
  }
  .header__navcol .soc {
    display: inline-block;
    margin-left: 24px;
    margin-top: 24px;
  }
  .header__navcol.show {
    transform: translateX(0);
  }
  .header__navcol nav {
    padding-left: 0;
  }
  .header__navcol nav > ul > li {
    display: block;
    margin: 0;
  }
  .header__navcol nav > ul > li > a {
    padding: 20px 24px;
    border-top: 1px solid rgba(103, 103, 103, 0.3);
    display: block;
  }
  .header__navcol nav > ul > li:last-child a {
    border-bottom: 1px solid rgba(103, 103, 103, 0.3);
  }
  .header__navcol nav > ul > li.dropdown > a:after {
    right: 20px;
    top: 24px;
  }
  .header__navcol nav .submenu {
    position: relative;
    opacity: 1;
    z-index: 1;
    visibility: visible;
    top: 0;
    width: 100%;
    padding: 0;
    left: 0;
    padding-bottom: 20px;
    transform: none;
    display: none;
  }
  .header__navcol nav .submenu.active {
    display: block;
  }
  .header__navcol nav .submenu li a {
    padding: 0 24px;
    display: block;
    font-size: 18px;
  }
  .header__search form input {
    width: calc(100vw - 120px);
  }
  .header__logo img {
    vertical-align: top;
  }
  .header__logo:after {
    display: none;
  }
  .header__rightsect > a {
    display: none;
  }
  button.burger {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    width: 30px;
    height: 20px;
    border: none;
    background: transparent;
    z-index: 15;
    cursor: pointer;
    padding: 0;
    margin: 0 0 0 auto;
  }
  button.burger:focus {
    outline: none;
  }
  button.burger:after, button.burger:before,
  button.burger span {
    width: 100%;
    height: 3px;
    border-radius: 100px;
    position: absolute;
    display: block;
    background: rgb(139, 197, 63);
    right: 0;
  }
  button.burger:after, button.burger:before {
    content: "";
    transition: 0.3s width 0.4s;
  }
  button.burger:after {
    top: 0px;
    left: 0px;
    margin-top: 0px;
  }
  button.burger:before {
    bottom: 0px;
    right: 0px;
    margin-bottom: 0px;
  }
  button.burger span {
    top: 50%;
    margin-top: -1px;
    transition: 0.3s;
  }
  button.burger span:before {
    content: "";
    background: rgb(139, 197, 63);
    width: 100%;
    height: 3px;
    border-radius: 100px;
    position: absolute;
    left: 0px;
    transition: 0.3s;
  }
  button.burger.on:after {
    transition: all 0.2s;
    width: 0%;
    left: 0px;
    background: rgb(139, 197, 63);
  }
  button.burger.on:before {
    transition: all 0.2s;
    width: 0%;
    right: 0px;
    background: rgb(139, 197, 63);
  }
  button.burger.on span {
    transform: rotate(45deg);
    transition: 0.3s transform 0.4s;
    background: rgb(139, 197, 63);
  }
  button.burger.on span:before {
    transform: rotate(-90deg);
    transition: 0.3s transform 0.4s;
    background: rgb(139, 197, 63);
  }
}
@media (max-width: 575.8px) {
  header.header {
    height: 70px;
  }
  .header__navcol {
    height: calc(100vh - 70px);
    top: 70px;
  }
  .header__search form input {
    width: calc(100vw - 86px);
  }
}
footer.footer {
  background: #EEF4EC;
}

.footer__top {
  padding: 80px 0 70px;
}
.footer__top .footer__logo img {
  max-width: 280px;
  width: 100%;
  vertical-align: top;
}

.footer__box .title {
  margin-bottom: 25px;
}
.footer__box .title span {
  font-family: "interstate";
  font-size: 25px;
  line-height: 115%;
  color: rgb(43, 60, 21);
  position: relative;
  display: inline-block;
}
.footer__box .title span::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background: rgb(43, 60, 21);
}
.footer__box .title span::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../img/general/footer-arr.svg") no-repeat center/100%;
  position: absolute;
  left: -22px;
  top: 50%;
  transform: translateY(-50%);
}
.footer__box ul li {
  margin-bottom: 3px;
}
.footer__box ul li:last-child {
  margin-bottom: 0;
}
.footer__box ul li a {
  color: rgb(103, 103, 103);
  font-size: 14px;
  line-height: 130%;
}
.footer__box ul li a.socimg {
  margin-top: 10px;
  display: inline-block;
}

.footer__bottsect {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 82px;
  background: rgb(139, 197, 63);
}
.footer__bottsect p {
  margin: 0;
  text-align: center;
  color: rgb(43, 60, 21);
  font-size: 14px;
}

@media (max-width: 1599.8px) {
  .footer__top {
    padding: 60px 0 50px;
  }
  .footer__box .title span {
    font-size: 22px;
  }
  .footer__box .title {
    margin-bottom: 15px;
  }
  .footer__bottsect {
    height: 70px;
  }
}
@media (max-width: 1199.8px) {
  .col-xl-4 {
    text-align: center;
  }
  .col-xl-4 .footer__logo {
    margin-bottom: 30px;
    display: inline-block;
  }
}
@media (max-width: 767.8px) {
  .footer__box {
    margin-bottom: 30px;
  }
  .footer__top {
    padding-bottom: 30px;
  }
}
@media (max-width: 575.8px) {
  .secttitle {
    font-size: 36px;
    margin-bottom: 25px;
  }
}

/*# sourceMappingURL=style.css.map */
